<footer class="page-footer mt-4 py-4">
    <div class="row">
    <div class="col-12 text-center col-md-4 text-md-right">
        <p class="mt-2"> @Copyright 2019 | Barbara Schuch </p>
    </div>
        <div class="col-12 col-md-4 mt-2 text-center">
            <div class="socialmedia-icon">
                <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
            <div class="socialmedia-icon">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
            </div>
            <div class="socialmedia-icon">
                <a href="#"><i class="fab fa-google-plus-g"></i></a>
            </div>
            <div class="socialmedia-icon">
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
            </div>
        </div>
    </div>
</footer>