<div class="card bg-dark text-white border-0">
    <div class="card-img-overlay w-75 mx-auto my-5">
        <app-navbar></app-navbar>
        <div class="w-50 my-5 text-dark">
            <h4 class="card-title font-weight-normal">Expirience The</h4>
            <h3>Best Trip Ever</h3>
            <p class="card-text">We are commited to offering travel services of the highest quality, combining our
                energy and ethusiasm with years of experience.</p>
            <button type="button" class="btn btn-outline-dark mt-1">Contact us</button>
        </div>
    </div>
</div>