<div class="card mb-3 border-0 mt-5">
    <div class="row no-gutters">
        <div class="col-md-5 offset-md-2">
            <div class="card border-0">
                <div class="card-body pb-0">
                    <h6 class="font-italic text-secondary">We Will Make Your Vacation Unfogettable</h6>
                    <h4 class="text-secondary">Services We Offer</h4>
                </div>
                <div class="card-header border-0 bg-transparent">
                    <ul class="nav nav-pills px-0" id="pills-tab" role="tablist">
                        <li class="nav-item active px-0">
                            <a class="nav-link pl-0 text-dark" id="pills-travelInsurance-tab" data-toggle="pill"
                                href="#pills-travelInsurance" role="tab" aria-controls="pills-travelInsurance"
                                aria-selected="true">Travel Insurance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="pills-flight-tab" data-toggle="pill" href="#pills-flight"
                                role="tab" aria-controls="pills-flight" aria-selected="false">Flight</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="pills-sightseeing-tab" data-toggle="pill"
                                href="#pills-sightseeing" role="tab" aria-controls="pills-sightseeing"
                                aria-selected="false">Sightseeing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" id="pills-accomodation-tab" data-toggle="pill"
                                href="#pills-accomodation" role="tab" aria-controls="pills-accomodation"
                                aria-selected="false">Accomodation</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content card-body pr-5" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-travelInsurance" role="tabpanel"
                        aria-labelledby="pills-travelInsurance-tab">
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                        sit amet.
                    </div>
                    <div class="tab-pane fade" id="pills-flight" role="tabpanel" aria-labelledby="pills-flight-tab">
                        Consequat occaecat ullamco amet non eiusmod nostrud dolore irure incididunt est duis anim sunt
                        officia. Fugiat velit proident aliquip nisi incididunt nostrud exercitation proident est nisi.
                        Irure magna elit commodo anim ex veniam culpa eiusmod id nostrud sit cupidatat in veniam ad.
                        Eiusmod consequat eu adipisicing minim anim aliquip cupidatat culpa excepteur quis. Occaecat sit
                        eu exercitation irure Lorem incididunt nostrud.
                    </div>
                    <div class="tab-pane fade" id="pills-sightseeing" role="tabpanel"
                        aria-labelledby="pills-sightseeing-tab">
                        Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua
                        irure ex. Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu
                        veniam. Eiusmod minim exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip
                        sit id deserunt reprehenderit aliquip nostrud. Amet ex cupidatat excepteur aute veniam
                        incididunt mollit cupidatat esse irure officia elit do ipsum ullamco Lorem. Ullamco ut ad minim
                        do mollit labore ipsum laboris ipsum commodo sunt tempor enim incididunt. Commodo quis sunt
                        dolore aliquip aute tempor irure magna enim minim reprehenderit. Ullamco consectetur culpa
                        veniam sint cillum aliqua incididunt velit ullamco sunt ullamco quis quis commodo voluptate.
                        Mollit nulla nostrud adipisicing aliqua cupidatat aliqua pariatur mollit voluptate voluptate
                        consequat non.
                    </div>
                    <div class="tab-pane fade" id="pills-accomodation" role="tabpanel"
                        aria-labelledby="pills-accomodation-tab">
                        Ad pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit ex. Aute sunt
                        incididunt amet commodo est sint nisi deserunt pariatur do. Aliquip ex eiusmod voluptate
                        exercitation cillum id incididunt elit sunt. Qui minim sit magna Lorem id et dolore velit Lorem
                        amet exercitation duis deserunt. Anim id labore elit adipisicing ut in id occaecat pariatur ut
                        ullamco ea tempor duis.
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <img src="assets/img/indoors-4234071_640.jpg" class="card-img" alt="...">
        </div>
    </div>
</div>