<div class="card bg-dark text-white border-0">
    <div class="card-img-overlay w-75 mx-auto my-5">
        <app-navbar></app-navbar>
        <div class="my-5 text-dark">
            <h3>Blog</h3>
        </div>
    </div>
</div>
<div class="container-fluid mt-5">
    <ul class="list-unstyled">
        <li class="media shadow rounded">
            <img class="" src="https://cdn.pixabay.com/photo/2014/07/01/12/34/street-381227_1280.jpg"
                alt="Generic placeholder image">
            <div class="media-body p-5 text-center align-self-center">
                <p class="font-italic text-muted"><span class="mr-2">by Autor</span><span>Oct 22, 2019</span> </p>
                <h5 class="mt-0 mb-1">List-based media object</h5>
                <p class="text-muted"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                    sollicitudin. Cras purus
                    odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                    fringilla. Donec lacinia congue felis in faucibus...</p>
                <hr>
                <p class="text-muted">#Lorem #Ipsum</p>
            </div>
        </li>
        <li class="media my-4 shadow rounded">
            <div class="media-body p-5 text-center align-self-center">
                <p class="font-italic text-muted"><span class="mr-2">by Autor</span><span>Oct 22, 2019</span> </p>
                <h5 class="mt-0 mb-1">List-based media object</h5>
                <p class="text-muted"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                    sollicitudin. Cras purus
                    odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                    fringilla. Donec lacinia congue felis in faucibus...</p>
                <hr>
                <p class="text-muted">#Lorem #Ipsum</p>
            </div>
            <img class="" src="https://cdn.pixabay.com/photo/2014/07/10/10/20/golden-gate-bridge-388917_1280.jpg"
                alt="Generic placeholder image">
        </li>
        <li class="media shadow rounded">
            <img class="" src="https://cdn.pixabay.com/photo/2016/11/29/06/20/blonde-1867768_1280.jpg"
                alt="Generic placeholder image">
            <div class="media-body p-5 text-center align-self-center">
                <p class="font-italic text-muted"><span class="mr-2">by Autor</span><span>Oct 22, 2019</span> </p>
                <h5 class="mt-0 mb-1">List-based media object</h5>
                <p class="text-muted"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                    sollicitudin. Cras purus
                    odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                    fringilla. Donec lacinia congue felis in faucibus...</p>
                <hr>
                <p class="text-muted">#Lorem #Ipsum</p>
            </div>
        </li>
    </ul>
</div>
<app-footer></app-footer>